.card {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    // width: 90%;
    margin: 1rem auto;

    .image {
        position: relative;
        width: 100%;
        height: 12rem;
        overflow: hidden;

        .sale, .new {
            position: absolute;
            top: 5px;            
            color: #fff;
            font-size: .75rem;
            font-weight: 600;
            padding: 3px 5px;
            z-index: 3;
        }

        .sale {
            left: 5px;
            background-color: red;
        }

        .new {
            right: 5px;
            background-color: green;
        }

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .main-image {
            z-index: 1;
        }

        &:hover {
            .second-image {
                z-index: 2;
            }
        }
    }

    .info {
        flex: 60%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .title {
            text-transform: capitalize;

            h5 {
                margin: 0;
                text-wrap: wrap;
            }
        }

        .prices {
            .price-container {
                position: relative;
                display: flex;
                align-items: center;
                gap: 1rem;
        
                .old-price {
                    position: relative;
                    color: gray;
        
                    &::after {
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: 45%;
                        width: 100%;
                        height: 1.5px;
                        background-color: gray;
                    }
        
                }
            }
            
            span {
                font-size: 1rem;
                font-weight: 700;
            }
        }
    }
}
