.featured-products {
    margin: 3rem;

    .wrapper {
        width: 85%;
        max-width: 1500px;
        margin: 0 auto;

        .top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 2.5rem;
    
            h2 {
                text-transform: capitalize;
            }
        }
    
        .bottom {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
            grid-auto-rows: 1fr;
            gap: 1rem;
            max-width: 1500px;
            overflow: hidden;
        }
    }
}

@media (min-width: 1000px){
    .featured-products {
        .wrapper {
            .bottom {
                grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
            }
        }
        
    }
}
