.navbar {
    position: relative;
    .top-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        width: 90%;
        max-width: 1500px;

        height: 3rem;
        padding: .5rem;

        .menu-container {
            .clickOutside {
                #toggle-btn {
                    display: block;
                    height: 25px;
                    width: 25px;
                    opacity: 0;
                    z-index: 300;
                }
            
                .btn-container {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    width: 30px;
                    cursor: pointer;
            
                    .menu-btn {
                        position: absolute;
                        display: block;
                        background-color: #151515;
                        height: 2px;
                        width: 20px;
                        margin-top: -25px;
                        border-radius: 2px;
                        transition: transform 400ms cubic-bezier(0.23, 1, 0.320, 1);
            
                        &::before {
                            content: '';
                            margin-top: -8px;
                            position: absolute;
                            display: block;
                            background-color: #151515;
                            height: 2px;
                            width: 20px;
                            border-radius: 2px;
                            transition: transform 400ms cubic-bezier(0.23, 1, 0.320, 1);
                        }
            
                        &::after {
                            content: '';
                            margin-top: 8px;
                            position: absolute;
                            display: block;
                            background-color: #151515;
                            height: 2px;
                            width: 20px;
                            border-radius: 2px;
                            transition: transform 400ms cubic-bezier(0.23, 1, 0.320, 1);
                        }
                    }
                }
            
                .menu {
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    background-color: #fff;
                    list-style-type: none;
                    top: 3.5rem;
                    left: 0;
                    right: 0;
                    margin: 0;
                    padding: 0;
                    z-index: 100;
            
                    li {
                        display: flex;
                        align-items: center;
                        width: 100%;
                        margin: 0 1rem;
                        padding: .5rem 0;
                        overflow: hidden;
                        cursor: pointer;
            
                        a {
                            width: 100%;
                        }
                    }
                }
            
                #toggle-btn:checked+.btn-container .menu-btn::before {
                    margin-top: -5px;
                    transform: rotate(405deg);
                }
            
                #toggle-btn:checked+.btn-container .menu-btn {
                    background: rgba(255, 255, 255, 0);
                }
            
                #toggle-btn:checked+.btn-container .menu-btn::after {
                    margin-top: -5px;
                    transform: rotate(-405deg);
                }
            
                #toggle-btn~.menu li {
                    height: 0;
                    margin: 0;
                    padding: 0;
                    border: 0;
                    transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1);
            
                    &:hover {
                        color: green;
                    }
                }
            
                #toggle-btn:checked~.menu li {
                    height: 2.5em;
                    padding: 1em;
                    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
            
                    &:not(:last-child) {
                        border-bottom: 1px solid #e2e2e2;
                    }
                }
            }
        }        

        .logo {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            padding: 0;
            margin-top: 1rem;

            svg {
                width: 90px;
                height: 30px;
            }
        }

        .icons-container {
            display: flex;
            gap: 1rem;
            cursor: pointer;

            .bag {
                position: relative;

                span {
                    position: absolute;
                    right: -10px;
                    top: -10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    font-size: 12px;
                    background-color: #151515;
                    color: #fff;
                }
            }
        }
    }    
    
}

@media (min-width: 1000px) {
    .navbar {
        .top-nav {            
            .menu-container {
                order: 2;

                .clickOutside {
                    #toggle-btn {
                        display: none;
                    }
                
                    .btn-container {
                        display: none;
                    }
                
                    .menu {
                        position: relative;
                        flex-direction: row;
                        flex-wrap: wrap;
                        align-items: center;
                        top: 0;
                        margin-top: 0;
                
                        li {
                            width: auto;
                            position: relative;
                
                        }
                    }

                    #toggle-btn~.menu li {
                        height: auto;
                        margin: 0 1rem;

                        &::after {
                            display: block;
                            content: '';
                            border-bottom: 1px solid green;
                            position: absolute;
                            width: 0;
                            height: 1px;
                            left: 0;
                            bottom: 0;
                            background-color: green;
                            transition: width .5s;
                        }

                        &:hover::after {
                            width: 100%;
                        }
                    }
                }
                
            }

            

            .logo {
                order: 1;
            }

            .icons-container {
                order: 3;
            }
            
        }        

    }
}
