.search-bar {
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #fff;
    overflow: scroll;
    z-index: 999;
    width: 100vw;
    max-width: 1500px;
    padding: 1rem;
    border-bottom: 1px solid #000;
    transition: all 200ms ease-in;

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        

        .input {
            display: flex;
            align-items: center;
            justify-content: center;

            input {
                height: 1rem;
                width: 25vw;
                min-width: 10rem;
                color: #9c9c9c;
                border: 1px solid #ccc;
                border-radius: 3px;
                padding: .5rem;
                outline: none;

                &:focus {
                    color: #000;
                }
            }

            .close-icon {
                margin-left: -2rem;
                background-color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 1.5rem;
                height: 1.5rem;
                cursor: pointer;

                svg {
                    stroke: #9c9c9c;
                }
            }

            input:focus~ .close-icon {
                svg {
                    stroke: #000;
                }
            }
        }

        .list {
            width: 70vw;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
            grid-auto-rows: 1fr;
            gap: 1.5rem;
            max-width: 1500px;
            overflow: hidden;
        }

    }
}