.products {
    .wrapper {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 90%;
        // width: 90dvw;
        margin: 0 auto;

        .left {
            flex: 1;

            .filters {
                display: flex;
                align-items: center;
                // justify-content: space-between;
                flex-wrap: wrap;
                width: 100%;
                border-bottom: 1px solid #000;
                letter-spacing: .7px;
                // cursor: pointer;

                .title {
                    flex: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    cursor: pointer;
                    h4 {
                        margin: .5rem 0;
                    }
                
                    .icon {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .hide {
                        display: none;
                    }

                    .show {
                        display: block;
                    }
                }

                .filters-container {
                    display: none;
                    flex-direction: column;
                    gap: .5rem;
                    margin-bottom: 1rem;

                    .filter {
                       h5 {
                        margin: 1rem 0;
                       }

                       .input {
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: center;
                        gap: .5rem;

                        // input[type='range'] {
                        //     appearance: none;
                        //     -webkit-appearance: none;
                        //     background-color: transparent;
                        //     width: 100%;
                        //     cursor: grab;

                        //     // Chrome
                        //     &::-webkit-slider-runnable-track {
                        //         position: relative;
                        //         // width: 100%;
                        //         height: .5rem;
                        //         background-color: #ccc;
                        //         border-radius: 8px;
                        //         -webkit-appearance: none;
                        //     }

                        //     &::-webkit-slider-thumb {
                        //         position: relative;
                        //         appearance: none;
                        //         background-color: #eee;
                        //         box-sizing: border-box;
                        //         border: 1px solid #ccc;
                        //         border-radius: 10rem;
                        //         width: 1.2rem;
                        //         height: 1.2rem;
                        //         top: 50%;
                        //         translate: 0 -50%;
                        //     }

                        //     // Firefox
                        //     &::-moz-range-progress {
                        //         height: .5rem;
                        //         border-radius: 8px;
                        //         background-color: green;
                        //     }

                        //     &::-moz-range-track {
                        //         height: .5rem;
                        //         border-radius: 8px;
                        //         background-color: #ccc;
                        //     }

                        // }

                            label {
                                display: block;
                                position: relative;
                                padding-left: 2rem;
                                margin-bottom: .5rem;
                                text-transform: capitalize;
                                cursor: pointer;
                                user-select: none;

                                input {
                                    position: absolute;
                                    opacity: 0;
                                    top: -5px;
                                    left: -5px;
                                    height: 1.5rem;
                                    width: 1.5rem;
                                    cursor: pointer;
                                    z-index: 10;

                                    &:checked {
                                        .checkmark {
                                            background-color: green;
                                        }
                                    }
                                }
                            
                                .checkmark {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    height: 1.5rem;
                                    width: 1.5rem;
                                    background-color: #eee;

                                    &:hover {
                                        background-color: #ccc;
                                    }
                            
                                    &::after {
                                        content: "";
                                        position: absolute;
                                        display: none;
                                    }
                                }
                            
                                input:checked~.checkmark {
                                    background-color: green;
                                }
                            
                                input:checked~.checkmark::after {
                                    display: block;
                                }
                            
                                & .checkmark::after {
                                    left: 9px;
                                    top: 5px;
                                    width: 5px;
                                    height: 10px;
                                    border: solid white;
                                    border-width: 0 3px 3px 0;
                                    transform: rotate(45deg);
                                }
                            }
                        }

                        .price {
                            flex-direction: row;
                        }

                        .select {
                            display: grid;
                            grid-template-areas: "select";
                            align-items: center;
                            position: relative;

                            select {
                                appearance: none;
                                background-color: transparent;
                                border: none;
                                padding: 0 1em 0 0;
                                margin: 0;
                                width: 100%;
                                color: #000;
                                font-family: inherit;
                                font-size: inherit;
                                cursor: inherit;
                                line-height: inherit;
                                z-index: 2;
                                outline: none;
                        
                                &::-ms-expand {
                                    display: none;
                                }
                            }
                        
                            select,
                            &::after {
                                grid-area: select;
                            }
                        
                            min-width: 10ch;
                            max-width: 15ch;
                        
                            border: 1px solid #777;
                            border-radius: 0.25em;
                            padding: 0.25em 0.5em;
                        
                            font-size: 1rem;
                            cursor: pointer;
                            line-height: 1.1;
                            background-color: #eee;
                        
                            // Custom arrow
                            &:not(.select--multiple)::after {
                                content: "";
                                justify-self: end;
                                width: 0.8em;
                                height: 0.5em;
                                background-color: #777;
                                clip-path: polygon(100% 0%, 0 0%, 50% 100%);
                            }

                            select:focus+.focus {
                                position: absolute;
                                top: -1px;
                                left: -1px;
                                right: -1px;
                                bottom: -1px;
                                border: 2px solid #2196F3;
                                border-radius: inherit;
                            }

                        }
                    }

                    .clear-btn {
                        display: flex;
                        align-items: center;
                        margin-top: 1rem;

                        button {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: .5rem;
                            border-radius: 3px;
                            border: none;
                            background-color: #151515;
                            color: #fff;
                            letter-spacing: 1px;
                            cursor: pointer;
                        }
                    }
                    
                }

                .open {
                    display: flex;
                }
            }
        }

        .right {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            width: 90%;
            margin: 0 auto;

            .category {
                position: relative;

                .category-img {
                    width: 100%;
                    height: auto;
                    max-height: 20rem;
                    object-fit: cover;
            
                }
            
                .category-title {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background: rgb(255, 255, 255, .3);
                    backdrop-filter: blur(10px);
                    padding: 1rem;
                    border-radius: 5px;
                    font-size: 2rem;
                    font-weight: 700;
                    color: #fff;
                    text-transform: uppercase;
                }

            }
            
        }
    }
}

@media (min-width: 900px) {
    .products {
        .wrapper {
            flex-direction: row;

            .left {
                position: sticky;
                top: 0;
                left: 0;
                height: 100%;

                .filters {
                    border-bottom: none;

                    .title {
                        cursor: auto;
                        .icon {
                            display: none;
                        }
                    }

                    .filters-container {
                        display: flex;
                    }
                }
            }

            .right {
                flex: 3;
            }
        }
    }
}